* {
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --bg-home: #e5e5e5;
    --bg-menu: #f0f4fa;
    --bg-login: #659642;
    --bg-container: #ffffff;
    --bg-btn-login: #2e612e; 
    --color-one: #fff;
    --font-family1: Arial, Helvetica, sans-serif;
}

body {
  background: var(--bg-home);
  font-family: var(--font-family1);
}

#line {
  width: 70%;
    height: 0.1px;
    background-color: rgb(180, 180, 180);
}

.container {
     overflow: hidden;
     display: flex;
     height: 100vh;
}



.nav-bar {
  transition: all ease .5s;
  background-color: var(--bg-menu);
  border-right: 1px solid rgb(211,211,211);
  padding: 20px 5px;
  display: flex;
  flex-direction: column;
  max-width: 80px;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  width: 100%;

}


.nav-bar-top {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.image-profile {
  width: 50px;
  height: 60px;
  border-radius: 10rem;
}

.nav-bar > ul {
   display: flex;
   gap: 2rem;
}

.button {
  border: none;
  background-color: transparent;
}

.icons {
  font-size: 2rem;
}


.chat-global {
  display: flex;
  flex-direction: Column;
  height: 100%;
  flex: 1;
  transition: all ease .5s;

  }

  .message-history {
    flex: 1;
    overflow-y: auto;
    background-color: #f0f4fa;
    padding: 20px 46px;
  }


.form {
  height: 62px;
  background-color: #f7f9fd;
  display: flex;
  align-items: center;
  justify-content: center; 
  /* display: flex;
    align-items: center;
    justify-content: center; 
    gap: 1rem;
    background-color: var(--bg-container);
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
    width: 100%; 
    margin: auto;
    padding: 1rem; */
    
}

#input-send-message {
    width: 90%;
    max-width: 500px;
    height: 40px;
    border: none;
    outline: 0;
    background-color: #eaf2fe;
    border-radius: 20px;
    font-size: 15px;
    color: #4a4a4a;
    padding-left: 15px;
    margin-left: 1rem;
    
}

.button-send {
  border: none;
  background-color: transparent;
  font-size: 1rem;
  margin-right: 1rem;
}